.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../img/bkg.png');
    background-position: 50% 0;
    background-repeat: repeat-y;
}

main {
    flex: 1 0 auto;
    padding-top: 60px;
}

nav {
    background-color: #A34B5B !important;
    color: #EEEEEE;
}

.container-lg {
    width: 90% !important;
    max-width: 1600px;
}

footer.page-footer {
    margin-top: auto;
    padding-top: 0;
    background-color: #D1E6C8 !important;
}

footer.page-footer p {
    color: #212121;
}

footer.page-footer .footer-copyright {
    margin-bottom: 20px;
}

.col.grid-example {
    margin: 7px 0;
}

.btn {
    margin-top: 10px;
}

.btn.btn-block {
    width: 100%;
}

.btn.primary {
    background-color: #347162 !important;
    color: #D9E4E1;
}

.btn.primary:focus {
    background-color: #0D4537 !important;
    color: #D9E4E1;
}

.btn.secondary {
    background-color: #AD7350 !important;
    color: #FFF8F4;
}

a {
    color: #212121;
}

a.special-link {
    color: #2e6da4;
    cursor: pointer;
}

h4.card-title {
    background-color: #A34B5B;
    color: #EEEEEE;
    padding: 8px;
}

.horizontal-radio {
    margin-bottom: 24px;
}

.horizontal-radio .horizontal-radio-label {
    position: relative;
    top: 12px;
}

.card .card-content ul {
    margin: 0 auto;
}

.input-role {
    margin-top: 20px;
}

.pagination {
    text-align: center;
}

.pagination li.active {
    margin-right: 20px;
}

.itens-encontrados tr.itemInativo {
    background-color: #e0e0e0;
    color: #757575;
}

.itens-encontrados tr.itemInativo a {
    color: #757575;
}

.funcionarios-habilitados label {
    color: #212121;
}

.funcionarios-habilitados .collapsible-header {
    background-color: #F4D4DA;
}

.funcionarios-habilitados .collapsible-body {
    background-color: #FAEFF1;
}

.quantidade {
    width: 100px !important;
}

.ui-autocomplete {
    background-color: #fff;
    position: absolute;
    z-index: 999;
}

.ui-autocomplete li {
    font-size: 1.2rem;
    color: #26a69a;
    line-height: 1.5rem;
    padding: 1rem 1rem;
}

.ui-autocomplete li:hover {
    background: #eee;
}

.ui-helper-hidden-accessible {
    display: none;
    visibility: hidden;
}

tr td span.remover {
    float: right;
    margin-right: 24px;
}

p.dl {
    margin-bottom: 16px !important;
}

p.dl strong {
    margin-right: 8px !important;
}

@media all and (min-width: 768px) {
    .usuarios-encontrados .usuario-encontrado .chip {
        float: right;
        margin-top: 6px;
    }
}