.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 60px;
}

.col.grid-example {
    margin: 7px 0;
}

.btn {
    margin-top: 10px;
}

.btn.btn-block {
    width: 100%;
}

h4.card-title {
    background-color: #434343;
    color: #eeeeee;
    padding: 8px;
}

.sexo-div {
    margin-bottom: 36px;
}

.sexo-div .sexo-label {
    position: relative;
    top: 12px;
}

.card .card-content ul {
    margin: 0 auto;
}

.input-role {
    margin-top: 20px;
}

@media all and (min-width: 768px) {
    .usuarios-encontrados .usuario-encontrado .chip {
        float: right;
        margin-top: 6px;
    }
}